.navbar-custom .nav-item{
    margin: 0 2px;
    display: flex;
    align-items: center;
    height: 70px;
}
.navbar-custom .nav-link:hover, .navbar-custom .active{
    border-radius: 100%;
    font-size: 18px;
    border-bottom: solid rgb(255, 208, 0) 4px;
}

.navbar-custom .navbar{
    background-color: blueviolet;
}

.navbar-custom .navbar .container-fluid .navbar-brand,.navbar-custom .navbar-toggler, .navbar-custom .nav-link{
    color: #fff !important;
}

.navbar-custom .icons{
    display: flex;
    column-gap: 20px;
    align-items: center;
}

