*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(255, 208, 0);
  
}

.wrapper{
  border-radius: 10px;
  padding:10px 20px;
  width: 95%;
  margin: 20px auto;  
  background-color: #fff;
  min-height: calc(100vh - 135px);
}